@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.element {
  /* position: relative; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.element {
  border: 2px solid cornflowerblue;
  box-sizing: border-box;
  position: absolute;
}
.artboard {
  /* position: static; */
  border: 2px solid tomato;
}
.viewer {
  width: 1000px;
  height: 1000px;
}
